.phall{
	background-image:url(../../img/bj3.jpg);
	width:100%;
	height:950px;
	background-repeat:no-repeat;
	overflow: hidden;
	background-size:cover;
}
.xixi{
	text-align:center;
	font-size:25px;
	margin-top:7%;
	margin-bottom:29px;
	border:2px solid #cccccc;
	height:780px;
	width:800px;
	margin-left:300px;
	padding-top:25px;
	background-color: #e6e6e6;
	opacity:0.9;
    z-index:-1;
    position:absolute;
}
.xingge,.nicheng,.xingbie,.sheng,.you,.yong,.tijiao,.miyi,.huida{
	margin-top:27px;
}
.xingbie{
	padding-right:220px;
}
